apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: docker-app
  template:
    metadata:
      labels:
        app: docker-app
    spec:
      nodeSelector:
        "kubernetes.io/os": linux
      containers:
      - name: docker-app
        image: jaz400reg.azurecr.io/docker-app:latest
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: docker-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: docker-app
